{% extends '::base_account_teacher.html.twig' %}
{% block body %}
    <h3>Texts list</h3>
    <a href="javascript:;" onclick="jQuery('#add_item').toggle();" class="btn btn-success">Create text</a>
    <div style="{% if modify_data|length %}{% else %}display:none;{% endif %}" id="add_item">
        <fieldset>
            <legend>Create text</legend>
        </fieldset>
        <form action="" method="post">
            <label for="text_name_public">Public name (visible to students):</label>
            <input type="text" id="text_name_public" name="text_name_public" value="{{ modify_data.text_name_public }}" required="required" />
            <div class="sep"></div>
            <label for="text_name_private">Private name (visible only by you):</label>
            <input type="text" id="text_name_private" name="text_name_private" value="{{ modify_data.text_name_private }}" required="required" />
            <div class="sep"></div>
            <label for="text_desc">Text description:</label>
            <textarea id="text_desc" name="text_desc" required="required">{{ modify_data.text_desc }}</textarea>
            <div class="sep"></div>
            <label for="text_content">Text content:</label>
            <textarea id="text_content" class="text_content" name="text_content" required="required">{{ modify_data.text_content }}</textarea>
            <div class="sep"></div>
            
            {% if modify_data|length %}
                <input type="hidden" name="test_id" value="{{ modify_data.id }}" />
            {% endif %}
            <div class="sep"></div>
            <input type="submit" class="btn btn-success" value="Save">
        </form>
    </div>
    {% if text_list|length %}
        <div class="sep"></div>
        <table class="table">
            <tr>
                <th>
                    Text name public
                </th>
                <th>
                    Text name private
                </th>
                <th>
                    Text description
                </th>
                <th>
                    Created
                </th>
                <th>
                    Options
                </th>
            </tr>
            {% for item in text_list %}
                <tr>
                    <td>
                        {{ item.text_name_public }}
                    </td>
                    <td>
                        {{ item.text_name_private }}
                    </td>
                    <td>
                        {{ item.text_desc }}
                    </td>
                    <td>
                        {{ item.added|date("Y-m-d") }}
                    </td>
                    <td>
                        <a href="?todo=delete&text_id={{ item.id }}" class="btn btn-danger" onclick="return confirm('Please confirm.');"><i class="icon-trash"></i> Delete</a>
                        <div class="sep"></div>
                        <a href="?todo=modify&text_id={{ item.id }}" class="btn btn-info"><i class="icon-edit"></i> Modify</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="../js/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
    <script type="text/javascript">
	tinyMCE.init({
            // General options
            mode : "specific_textareas",
            theme : "advanced",
            editor_selector: "text_content",
            plugins : "autolink,lists,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template,wordcount,advlist,autosave,visualblocks",

            // Theme options
            theme_advanced_buttons1 : "save,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,styleselect,formatselect,fontselect,fontsizeselect",
            theme_advanced_buttons2 : "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
            theme_advanced_buttons3 : "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl,|,fullscreen",
            theme_advanced_buttons4 : "insertlayer,moveforward,movebackward,absolute,|,styleprops,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,template,pagebreak,restoredraft,visualblocks",
            theme_advanced_toolbar_location : "top",
            theme_advanced_toolbar_align : "left",
            theme_advanced_statusbar_location : "bottom",
            theme_advanced_resizing : true,

            // Example content CSS (should be your site CSS)
            content_css : "css/content.css",

            // Drop lists for link/image/media/template dialogs
            template_external_list_url : "../js/tinymce/jscripts/lists/template_list.js",
            external_link_list_url : "lists/link_list.js",
            external_image_list_url : "../js/tinymce/examples/lists/image_list.js",
            media_external_list_url : "lists/media_list.js",
		// Style formats
            style_formats : [
                {title : 'Bold text', inline : 'b'},
                {title : 'Red text', inline : 'span', styles : {color : '#ff0000'}},
                {title : 'Red header', block : 'h1', styles : {color : '#ff0000'}},
                {title : 'Example 1', inline : 'span', classes : 'example1'},
                {title : 'Example 2', inline : 'span', classes : 'example2'},
                {title : 'Table styles'},
                {title : 'Table row 1', selector : 'tr', classes : 'tablerow1'}
            ],

            // Replace values for the template plugin
            template_replace_values : {
                username : "Some User",
                staffid : "991234"
            }
	});
    </script>
{% endblock %}